body {
    /* background: url(./Assets/mountains-1412683.svg) no-repeat;
    background-size: cover; */
    background-color: #fbddd5;
}
/* images float left by default and have a margin of 20 px */
img {
    float: left;
    max-width: 100%;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}


/* about me img also has a margin to the right */
.aboutmeimg {
    margin-right: 20px;
}

#name {
    display: block;
    margin: auto;
}

#about-me {
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.8);
    border: 5px solid white;
    border-radius: .25rem;
    margin-bottom: 20px;
}

#about-me p {
    color:white;
}

#portfolio {
    margin-top: 50px;
    margin-bottom: 100px;
}

label {
    color: white;
}